.admin-table-content {
  border: 1px solid $tableBorder;
  margin-bottom: 2rem;

  .with-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
  }

  .badge {
    border-radius: 1rem;
    font-size: .75rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .btn {
      color: $gray500;
      padding: 0 .5rem;
      font-size: 1.25rem;
      @include transition;

      &:hover {
        &.btn-ticket {
          color: $primary;
        }

        &.btn-edit {
          color: $warning;
        }

        &.btn-delete {
          color: $danger;
        }
      }
    }
  }

  .table {
    font-size: 1rem;
    color: $gray500;

    th,
    td {
      border-color: $tableBorder;
      padding: 1rem;
      vertical-align: middle;
    }

    thead {
      th {

        font-weight: 500;

      }
    }

    tbody {
      &:not(:first-child) {
        border-top: none;
      }

      td {}
    }

    @media (min-width:992px) {
      font-size: 1.25rem;

      tr {
        >:first-child {
          padding-left: 4rem;
        }
      }
    }
  }

  .pagination-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    font-size: .875rem;

    .form-group {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      label {
        white-space: nowrap;
      }

      .form-control {
        border: none;
        min-width: 50px;
        padding-left: .25rem;
        padding-right: .25rem;
        border-radius: 0;
        border-bottom: 1px solid darken($tableBorder, 10);
        font-size: .875rem;
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .btn{
          font-size: 2rem;
          padding-top: 0;
          padding-bottom: 0;
      }
    }
  }
}


.table-generated-ticket{
  th,td{
    padding: 1rem;
    &:first-child{
      padding-left: 3rem;
    }
  }
  thead{
    th{
      background: #F5F6FA;
      text-transform: uppercase;
      font-size: .75rem;
      font-weight: 600;
      color: $dark;
    }
  }
  tbody{
    font-size: .875rem;
  }
}